body{
  font-size:62.5%;
  background-color: rgb(207,197,105);
}
h1{
  font: normal 2.4em Verdana, sans-serif;
  background:-webkit-linear-gradient(top, rgb(168,151,37), rgba(255,122,0,.59));
  width: 17%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  color: rgb(142,235,86);
  box-shadow: rgb(11, 4, 92) 5px 5px 10px;
  text-shadow: rgb(0, 83, 130) 3px 3px 10px;
}
h2{
  font:bold 1.7em Verdana, sans-serif;
  margin: 0;
  padding: 5px 0px 5px 0px;
  color: rgba(117,109,11,.99);
  border-top:1px dashed rgb(150,149,152);
  margin:15px ;
}
.toper{
  margin-top: 250px;
}
video{
  margin-left: 300px ;
  padding: 15px auto;
  border-radius: 20px;
  -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;

}
section{
  width: 91%;
  margin: 1px auto;
}
figure{
  float: left;


}
figure img{
  padding: 4px;
  background: rgb(111, 106, 104);
  border-radius: 20px;
  -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
}
figure img:hover{
  -webkit-transform:scale(1.2);
  box-shadow: rgb(192, 193, 190) 5px 5px 10px;

}
figcaption{
  font-family:Arial, sans-serif;
  font-size:1.3em;
  text-align: center;
  margin-top: 5px;
  color:rgb(115,59,0);
}
p{
  font: normal 1.5em Verdana, sans-serif;
  background:-webkit-linear-gradient(top, rgb(168,151,37), rgba(255,122,0,.59));

  border-radius: 10px;

  padding: 5px;
  padding: 15px

}

footer{
  clear: both;
  padding-top: 100px;
}
footer p{
  font:1.6em Georgia "Times New Roman",Times, sans-serif;
  color: rgb(123, 126, 130);
  margin: 10px 8px;
}
.contenedor{
  width:100%;
  margin:0 auto;
  background-color:rgb(207,197,105);
}
